:root {
	--primary: #448aff;
	--primary-400: #69a1ff;
	--accent: #4caf50;
	--neutro-dark: #000000;
	--neutro-light: #ffffff;
	--input-background: #d8d8d8;
	--input-border: #c5c5c5;
	--zindex-navbar: 50;
	--zindex-editor: 10;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
}

.container__menu {
	background: var(--primary);
	position: fixed;
	font-family: 'Nunito Sans', sans-serif;
	top: 0;
	left: 0;
	width: 100%;
	z-index: var(--zindex-navbar);
}

.menu {
	display: flex;
	justify-content: center;
}

[class$='__item'] {
	line-height: 3;
	list-style: none;
}

[class$='__link'] {
	color: var(--neutro-light);
	cursor: pointer;
	display: block;
	padding: 0 1em;
	text-decoration: none;
}

[class$='__link']:hover {
	background: var(--primary-400);
}

.submenu {
	background: var(--primary);
	display: block;
	width: fit-content;
	position: absolute;
	width: fit-content;
}

.submenu--hide {
	display: none;
}

.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 30px;
	margin: 2em;
	margin-top: 4em;
}

.item {
	z-index: var(--zindex-editor);
}

.item:nth-child(1) {
	/* grid-area: source; */
}

.item:nth-child(2) {
	/* grid-area: result; */
}

.item:nth-child(3) {
	/* grid-area: console; */
	grid-column: span 2;
}

.item textarea {
	color: var(--neutro-dark);
	background: var(--input-background);
	border: 2px solid var(--input-border);
	font-family: 'Fira Code', monospace;
	height: 40vh;
	width: 100%;
}

.CodeMirror {
	font-family: 'Fira Code', monospace !important;
}

.item:nth-child(3) textarea {
	height: 20vh;
}

.title {
	font-family: 'Rubik', sans-serif;
}
